.certs
.nix-venv
**/__pycache__/**

.env*
.hypothesis/
.coverage
.pytest_cache
.vscode
.history
.idea
.runner
.mypy_cache


*private_key*
keys.json

agent/
service/

packages/valory/protocols/abci
packages/valory/protocols/http
packages/valory/protocols/ipfs
packages/valory/protocols/ledger_api
packages/valory/protocols/contract_api
packages/valory/protocols/acn
packages/valory/protocols/tendermint
packages/eightballer/protocols/prometheus
packages/eightballer/protocols/http
packages/open_aea/protocols/signing
packages/valory/contracts/service_registry
packages/eightballer/connections/http_client
packages/eightballer/connections/http_server
packages/valory/connections/abci
packages/valory/connections/ipfs
packages/valory/connections/ledger
packages/valory/connections/http_client
packages/valory/connections/p2p_libp2p_client
packages/eightballer/connections/prometheus
packages/eightballer/skills/prometheus
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/registration_abci
packages/valory/skills/reset_pause_abci

packages/eightballer/protocols/user_interaction

/derive_arbitrage_agent*
/nabla_arbitrage_agent*


.runner_secrets
envs

eightballer/protocols/default
eightballer/protocols/balances
eightballer/protocols/markets
eightballer/protocols/ohlcv
eightballer/protocols/order_book
eightballer/protocols/orders
eightballer/protocols/positions
eightballer/protocols/spot_asset
eightballer/protocols/tickers
eightballer/contracts/erc_20
eightballer/contracts/spl_token
vybe/contracts/jupitar_swap
eightballer/skills/metrics
packages/eightballer/skills/reset_pause_abci/
packages/eightballer/skills/registration_abci/
/market_maker
/tim
/derived_cow
/nabla_arbitrage_agent
