.env
__pycache__

*private_key*
keys.json

agent/
service/

packages/valory/protocols/abci
packages/valory/protocols/http
packages/valory/protocols/ipfs
packages/valory/protocols/ledger_api
packages/valory/protocols/contract_api
packages/valory/protocols/acn
packages/open_aea/protocols/signing
packages/valory/protocols/tendermint
packages/eightballer/protocols/prometheus
packages/eightballer/protocols/http
packages/valory/contracts/service_registry
packages/valory/connections/abci
packages/valory/connections/http_client
packages/valory/connections/ipfs
packages/valory/connections/ledger
packages/valory/connections/p2p_libp2p_client
packages/eightballer/connections/prometheus
packages/eightballer/connections/http_client
packages/eightballer/connections/http_server
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/eightballer/skills/reporting
packages/valory/skills/registration_abci
packages/valory/skills/reset_pause_abci
packages/eightballer/skills/prometheus
packages/eightballer/skills/metrics
packages/eightballer/agents/capitalisation
packages/eightballer/agents/chained_dex_app
