agent_name: bridging_agent
author: eightballer
version: 0.1.0
license: Apache-2.0
description: ''
aea_version: '>=1.55.0, <3.0.0'
fingerprint:
  tests/test_bridging_agent.py: bafybeifay56xnh5voba4qyzpjooomnh2kfhbhy7ywp7h5zl52wu56fznry
fingerprint_ignore_patterns: []
connections:
- eightballer/http_client:0.1.0:bafybeigqr2eudiwksmr2cavk6as63li2oqf3x2edwzvs5vepntuqhemnge
- eightballer/http_server:0.1.0:bafybeieispawqnpoeqidgkt7u7vsynualtcmbs3vsgggpb6hzkdsyd3fve
- eightballer/prometheus:0.1.1:bafybeicgvmn5eo57jotbcwasjqlmzog3ss5dvvembw7jaytfz33z4kbaoa
contracts:
- eightballer/olas:0.1.0:bafybeied2un2ieyq3qoxlpv4hu7nezan4vwil4wgcavrhqnackkwgjmyuy
- eightballer/erc_20:0.1.0:bafybeiewlvc62xn6flmzn2dodqw3w6p3w5jqwkx36w5caznf6zjph7t2se
- eightballer/amb_mainnet:0.1.0:bafybeihjtm2ke6dd7mejqzi5r7k7kpnjvgxbzyoyrgx3biyjpd3cca4fz4
- eightballer/amb_gnosis:0.1.0:bafybeicudwt5qs55vmtbohqojtid4nhfkh334eogtpqrvyefqkvt6e5q5q
- eightballer/amb_gnosis_helper:0.1.0:bafybeiakxsmqefkukmttb2av3zwrvatop4rhrn4ee6za2j7hbukgxldysu
- eightballer/amb_gnosis_eth_xdai:0.1.0:bafybeigdktkbvjfq3xvc6arfuuj2ixk7khiqtb2xy3gugsfsqe7qblio74
protocols:
- eightballer/default:0.1.0:bafybeidxdrzt2lqcig5cfdaju4kx2jjlbmmrvep34blhhgvm6cyr6qtlge
- eightballer/http:0.1.0:bafybeigvajfairsqyira3idfhacj7l4vq25mjgyti76et5ryhspbk5uvbi
- eightballer/prometheus:1.0.0:bafybeiedkmjjqbxyid67hwhpkvyknst5rdtn5pazs6rtaa3mj6r2buwl7q
- open_aea/signing:1.0.0:bafybeigalbjxbpl6pezijj6it2zspjcjy3znm66t5ygbe4kz5kxcnbu65y
skills:
- eightballer/gnosis_bridging_abci_app:0.1.0:bafybeiaj2rr3os5olcmq5kmu5gqo43mdro6vvsgkf27c7av5e63h5upnq4
- eightballer/prometheus:0.1.0:bafybeidfz7ms5n7f27fywsm4gbxy6ykztdctln44cvuemmyuww2igonwby
customs: []
default_ledger: ethereum
required_ledgers:
- ethereum
default_routing: {}
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  disable_existing_loggers: true
  formatters:
    standard:
      format: '%(asctime)s [%(levelname)s] %(name)s: %(message)s'
  handlers:
    console:
      class: rich.logging.RichHandler
      level: INFO
    logfile:
      class: logging.FileHandler
      filename: log.txt
      formatter: standard
      level: INFO
  loggers:
    aea:
      handlers:
      - console
      - logfile
      level: INFO
      propagate: false
  version: 1
dependencies:
  open-aea-ledger-cosmos: {}
  open-aea-ledger-ethereum: {}
  rich: {}
default_connection: null
build_entrypoint: setup_broker.sh
---
public_id: eightballer/http_server:0.1.0:bafybeicp3ubkonolxjgnwgqmaz624qduwzzz74fbjizu77lyvnpo77uv7u
type: connection
config:
  host: 0.0.0.0
  port: 8888
  target_skill_id: eightballer/gnosis_bridging_abci_app:0.1.0
